<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Carrinho de Compras</title>
    <!--<link rel="stylesheet" href="css/carrinho/light_style.css" /> -->

    <link rel="stylesheet" href="css/carrinho/styles.css" />

    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"/>
     
    
      
  </head>
  <body>

    <%- include('./partials/navbar.ejs') %>

    <main class="container">
      <br><br>
      <div class="page-title">Seu Carrinho</div>
    
          <div class="content" >
              <section id="msg" style="display: inline;">
              <table> 
              
          <% if (items === undefined) { %>
            
            <div class="msg" >
              <h2 >Parece que você não tem nenhum produto no carrinho </h2>
              <p> adicione algum produto para continuar a compra</p>
           </div>
          
          <% } else { %>%>

                <thead>
              <tr>
                <th>Produto </th>

              </tr>
            </thead>

            <tbody>

               <% items.forEach(item => { %>
                <% produtos.forEach(produto => { %>
                    <% if (item.productIdProduto === produto.id_produto) { %>
                      <tr>
                        <td>
                          <div class="product">
                            <img src="/imagem/<%=  produto.id_produto %>" alt="" id="foto_produto" />
                            <div class="info">
                              <div class="name"><%=  produto.nome_produto %></div>
                            </div>
                          </div>
                        </td>
                        <td  id="preco1">R$ <%=  produto.preco %> </td>
                        <td>
                          <div class="qty">
                            
                            <button onclick="mudarQuantidade('<%=  item.id_item %>', -1)"><i id="itens" class="bx bx-minus"></i></button>
                            <span id="quantidade"><%= item.quantidade %></span>
                            <button onclick="mudarQuantidade('<%=  item.id_item %>', 1)"><i id="itens" class="bx bx-plus"></i></button>
                          </div>
                        </td>
                        <td  id="preco2">R$ <%= produto.preco %> </td>
                        <td>    
                          <button class="remove" onclick="removeItem('<%=  item.id_item %>')"><i id="itens" class="bx bx-x"></i></button>
                        </td>
                      </tr>
                    <% } %>
                  <% }) %>
              <% }) %>
          
           <% } %>
            
            
                      
            </tbody>
          </table>
        </section>
        
        <form method="post" action="/pagamento">
        <aside>
          <div class="box">
            <header>Resumo da compra</header>
            <div class="info">
              <div><span>Sub-total</span><span>R$ </span></div>
              <div><span>Frete</span><span>Gratuito</span></div>
        
            </div>
            <footer>
              <span>Total</span>
              <span id="valorTotal"></span> 
              <input type="hidden" id="conteudoHidden" value="1" name="valor">
              
            </footer>
          </div>
          <% if (items !== undefined)  { %>
           <button id="Btn">Finalizar Compra</button>
          <% } else { %>
            <br><br> <br>
          <% } %>
          
        </aside>
      </form>
      </div>
    </main>
    <%- include('./partials/footer.ejs') %>
    <script src="/js/carrinho/script.js"></script>
  </body>
</html>

