<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/painel/style.css">

    <title>Painel Administrativo</title>

</head>

<body>

    <%#- include('./partials/navbar.ejs') %>


    <div class="home">
        <header class="painel-administrativo">
            <div class="logo">
                <img src="/img/painel/logo.png" alt="Logo da Loja">
            </div>
            <nav style="margin-left: 28vw;">
                <ul class="opcoes">
                    <li class="opcao"><a class="link" href="/admin/painel">Inicio</a></li>
                    <li class="opcao"><a class="link" href="/home">Loja</a></li>
                    <li class="opcao"><a class="link" href="/admin/produtos">Produtos</a></li>
                    <li class="opcao"><a class="link" href="/deslogar">Sair</a></li>
                </ul>
            </nav>
        </header>
        <div class="titulo">
            <div id="titulo">
                <h2>Painel Administrativo</h2>
            </div>
        </div>

        <div class="tela-inicial">

            <section class="Visão-Geral">
                <h2 style="margin-left: 100px;">Visão Geral</h2>

                <div class="Dados">
                    <div class="info-Dados">
                        <h3 class="Dados-titulo">Total de Vendas</h3>
                        <p class="Dados-texto"><%= totalVendas %></p>
                    </div>
                </div>
                <div class="Dados">
                    <div class="info-Dados">
                        <h3 class="Dados-titulo">Produtos Cadastrados</h3>
                        <p class="Dados-texto"><%= produtosCadastrados %></p>
                    </div>
                </div>
                <div class="Dados">
                    <div class="info-Dados">
                        <h3 class="Dados-titulo">Apuração total</h3>
                        <p class="Dados-texto">R$<%= total %>,00</p>
                    </div>
                </div>
            </section>
            <div style="text-align: center;">
                <h2 style="margin-left: 25vw;">Vendas Semanais</h2>
                <section class="grafico">
                    
                    <canvas id="graficoVendas"></canvas>
                    <canvas id="graficoPizza" style="margin-left: 20px;"></canvas>
                </section>
            </div>
        </div>
        <div class="tabelaPedidos1">
            
            <h2 class="titulo2">Pedidos</h2>
            <button class="button" id="btn_finalizado"> Pedidos Finalizados</button>
            <br> <br>
            <table id="tabelaPedidos">
                
                <thead>
                    <tr>
                        <th>Nº do pedido</th>
                        <th>produtos</th>
                        <th>Valor Total </th>
                        <th>Endereço de entrega</th>
                        <th>Status</th>
                        <th>alterar Status</th>
                    </tr>
                    
                </thead>
                <tbody>
                    <% pedidos.forEach(pedido => { %>
                        <tr>
                            <td><%= pedido.id_pedido %></td>
                            <td><button class="button">Ver detalhes</button></td>
                            <td><%= pedido.ValorTotal %></td>
                            <td><%= pedido.endereco %></td>
                            <td><%= pedido.status %></td>
                            <td><button class="button">alterar Status</button></td>
                        </tr>
                    <% }) %>
                    
                   
                      
                </tbody>
            </table>
        </div>
    </div>
    <br><br>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/js/painel/script.js"></script>
</body>

</html>
