<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/produtos/style.css">
</head>
<head>
    <style> 
   body{
    background-color: rgb(233, 233, 233);
   }
 
</style>
</head>
<body>

    <%- include('./partials/navbar.ejs') %>


        <div class="container">
        <hr>
        <div class="logo">
    <img src="/img/login/logo.png" alt="Logo da Loja">

        </hr>   
<table border="1"> 
    <thead>
        <tr>
        <th>ID</th>
        <th>NOME DO PRODUTO</th>
        <th>PREÇO</th>
        <th>DESCRIÇÃO</th>
        <th>COR</th>
        <th>OPÇÔES DE PRODUTO</th>
        </tr>
    </thead>
    <body>
    <h2>Produtos Cadastrados</h2>            
    
        <button class="btn form" > <a href="/admin/addProduto">Adicionar Produtos</a></button>


    <% produtos.forEach(produto => { %>
            </form>
            <tr>
                <td><%= produto.id_produto %></td>
                <td><%= produto.nome_produto %></td>
                <td>R$<%= produto.preco %></td>
                <td><%= produto.descricao %></td>
                <td><%= produto.cor %> </td>
                    
                <td>
                    <form method="post" action="/admin/produtos/deletar" style="display: inline;">

                        <input type="hidden" name="id" value="<%= produto.id_produto %>">
                        <button class="btn btn-danger"> Deletar</button>

                    </form>
                        <button class="btn editar"> Editar</button>
                   
            </td>
    <% }) %>
    

</body>
</table>
</html>
