<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/produtos/style.css">
    <link rel="stylesheet" href="/css/painel/style.css">

</head>
<head>
    <style> 
   body{
    background-color: rgb(233, 233, 233);
   }
 
</style>
</head>
<body>

    
     <header class="painel-administrativo">
            <div class="logo">
                <img src="/img/painel/logo.png" alt="Logo da Loja">
            </div>
            <nav style="margin-left: 28vw;">
                <ul class="opcoes">
                    <li class="opcao"><a class="link" href="/admin/painel">Inicio</a></li>
                    <li class="opcao"><a class="link" href="/home">Loja</a></li>
                    <li class="opcao"><a class="link" href="/admin/produtos">Produtos</a></li>
                    <li class="opcao"><a class="link" href="/deslogar">Sair</a></li>
                </ul>
            </nav>
        </header>

        <br><br>
   


         <h1 id="titulo">Produtos Cadastrados</h1>  
        <button class="btn form"  id="btn_adicionar"> <a style="color: black;" href="/admin/addProduto">Adicionar Produtos</a></button>
        <br><br><br>

<table  id="tabela" border="2px"> 
    <thead >
        <tr>
        <th style="background-color: black;">ID</th>
        <th style="background-color: black;">NOME DO PRODUTO</th>
        <th style="background-color: black;">PREÇO</th>
        <th style="background-color: black;">DESCRIÇÃO</th>
        <th style="background-color: black;">COR</th>
        <th style="background-color: black;">OPÇÔES DE PRODUTO</th>
        </tr>
    </thead>
    <body>
             
    
        

    <% produtos.forEach(produto => { %>
            </form>
            <tr>
                <td><%= produto.id_produto %></td>
                <td><%= produto.nome_produto %></td>
                <td>R$<%= produto.preco %></td>
                <td><%= produto.descricao %></td>
                <td><%= produto.cor %> </td>
                    
                <td>
                    <form method="post" action="/admin/produtos/deletar" style="display: inline;">

                        <input type="hidden" name="id" value="<%= produto.id_produto %>">
                        <button class="btn btn-danger"> Deletar</button>

                    </form>
                        
                    <form action="/admin/produtos/edit" method="post" style="display: inline;"> 
                        <input type="hidden" name="id" value="<%= produto.id_produto %>">
                        <button class="btn editar"> Editar</button>
                    </form>
                       
                   
            </td>
    <% }) %>
    <br>
    

</body>
</table>
<br><br><br>
</html>
