<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce</title>
    <!-- CSS-link -->
    <link rel="stylesheet" href="/css/home/style.css">
    <link rel="stylesheet" href="/css/home/popup.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="css/todosProdutos/busca.css">
</head>

<body>
    <div class="cupom-text">
        <p>30% OFF utilizando o cupom: UNIBRA.</p>
    </div>

        <%- include('./partials/navbar.ejs') %>

    <!-- seção de produtos  -->
 

  
    <div id="popup" class="popup" style="display:none;">
        Produto adicionado ao carrinho!
      </div>
      <div id="popup2" class="popup" style="display:none;">
          faça login para poder adicionar um produto ao seu carrinho.
          <a href="/login" style="color: rgb(55, 197, 16);">clique aqui para logar</a>
        </div>
  
        
            <!-- seção de produtos  -->
            <section class="trending-product" id="trending">
                <div class="center-text">
                    

                    <br><br><br><br>
                    <form action="/pesquisar" method="post">
                    <input type="text" id="searchInput"  placeholder="Digite o nome da peça que deseja buscar" name="pesquisa" autofocus> <br>
                    <button type="submit" id="btn-pesquisar">Pesquisar</button>
                    </form>
                    <ul id="searchResults"></ul>
                    <br>
                    <h2>Todas as <span>Peças</span></h2>
                    
                </div>
                 <div class="filtered-products"></div>
                <div class="products">

                    <% if (produtos.length == 0) { %>
                        <div class="container">
                            <h2>Nenhum produto achado</h2>
                            <p>desculpe, mas nenhum produto foi encontrado para a pesquisa "<%= pesquisa %>", porfavor tente pesquisar algo diferente</p>
                        </div>
                    <% } else { %>
                        <% produtos.forEach(produto => { %>
                                        
                        
                            <div class="row">
                                <a href="detalhes-do-produto/<%= produto.id_produto %>/<%= produto.slug %>"><img src="/imagem/<%= produto.id_produto %>" alt=""></a> 
                                <div class="product-text">
                                    <h5>Oferta</h5>
                                </div>
                                <div class="heart-icon">
                                <i class='bx bx-heart' id="<%= produto.id_produto %> " onclick="mudarCor('<%= produto.id_produto %>', '<%= produto.preco %>')" id="<%= produto.id_produto %>"  ></i>
                                </div>
                                <div class="ratting">
                                    <i class='bx bx-star'></i>
                                    <i class='bx bx-star'></i>
                                    <i class='bx bx-star'></i>
                                    <i class='bx bx-star'></i>
                                    <i class='bx bxs-star-half'></i>
                                </div>
                
                                <div class="price">
                                    <h4> <%= produto.nome_produto %></h4>
                                    <p>R$<%= produto.preco %>,90 - R$<%= (parseFloat(produto.preco) * 0.3 + parseFloat(produto.preco)).toFixed(0)%>,99</p>
                                </div>
                            </div>
                                    
                        <% }) %>
                    <% } %>
               


                <!-- Elemento HTML para exibir os produtos filtrados -->
               

                </div>
            </div>

                
                </div>


            </section>

    

    <!-- seção-avaliação-clientes -->


    <!-- seção-de-contato -->
    <%- include('./partials/footer.ejs') %>

    <script src="js/home/script.js"></script>
    <script src="https://kit.fontawesome.com/998c60ef77.js" crossorigin="anonymous"></script>
    <script src="/js/home/ajax.js"></script>

   
</body>

</html>